body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 21);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.searchTrainFilter select,
.trainInviteForm select,
.trainInviteForm textarea,
.trainInviteForm input,
.scoreFormContainer input,
.scoreFormContainer select,
.scoreFormContainer textarea,
.addBalanceFormContainer input,
.registerFormContainer input,
.registerFormContainer select,
.newCourtContainer select,
.newCourtContainer input {
  @apply w-full rounded-md text-black px-2 py-3;
}

.searchTrainFilter label,
.trainInviteForm label,
.scoreFormContainer label,
.addBalanceFormContainer label,
.registerFormContainer label,
.newCourtContainer label {
  @apply font-bold;
}

.SearchTrainFilterContainer,
.trainInviteFormContainer,
.scoreFormContainer,
.addBalanceFormContainer,
.registerFormContainer,
.newCourtContainer {
  @apply mt-4;
}

.file-upload input {
  @apply text-white text-sm italic;
}

.active-link {
  @apply p-2 font-bold cursor-pointer text-blue-400;
}

.fieldError {
  @apply text-red-500 text-xs mt-8;
}

.greenButton {
  @apply mt-4 p-2 border-2 border-green-500 rounded-md hover:bg-green-500 hover:text-white;
}

.redButton {
  @apply mt-4 p-2 border-2 border-red-500 rounded-md hover:bg-red-500 hover:text-white ml-4;
}

.activeStep {
  @apply h-2 w-1/5 border border-blue-300 bg-blue-400;
}

.inactiveStep {
  @apply h-2 w-1/5 border border-blue-300;
}
.calendarWidth {
  width: calc(100% / 7);
}
